.tableContainer {
  margin-bottom: 5px;
  overflow-y: auto;
  max-height: 200px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 15px;
  font-weight: lighter;
}

thead th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
